---
import { Icon } from "astro-icon/components";
---

<div class="pt-4 w-full max-sm:w-28">
  <div
    class="bg-lime-800/40 shadow-lg mx-auto w-1/2 shadow-black/20 rounded-lg text-white h-14 flex items-center justify-around"
  >
    <nav>
      <div class="hidden sm:flex">
        <a href="/" class="px-5 hover:underline hover:text-pink-900">/home</a>
        <a href="/projects" class="px-5 hover:underline hover:text-pink-900"
          >/projects</a
        >
        <a href="/aboutme" class="px-5 hover:underline hover:text-pink-900"
          >/about-me</a
        >
      </div>
      <div class="relative">
        <Icon
          name="mingcute:menu-fill"
          class="block sm:hidden text-gray-300 text-lg w-fit h-fit hover:cursor-pointer"
          id="menuicon"
        />
        <div
          id="dropdown"
          class="hidden flex-col backdrop-blur absolute top-full left-0 bg-gray-500/10 w-40 h-fit mt-6 pb-3 rounded-lg shadow-md shadow-black/30"
        >
          <a
            href="/"
            class="px-5 py-2 block hover:underline hover:text-pink-900"
          >
            /home
          </a>
          <a
            href="/projects"
            class="px-5 py-2 block hover:underline hover:text-pink-900"
          >
            /projects
          </a>
          <a
            href="/aboutme"
            class="px-5 py-2 block hover:underline hover:text-pink-900"
          >
            /about-me
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
<script>
  function init() {
    const dropdown = document.getElementById("dropdown");
    document.getElementById("menuicon")?.addEventListener("click", () => {
      dropdown?.classList.toggle("hidden");
    });
  }
  init();
  document.addEventListener("astro:after-swap", init);
</script>
