---
import ProjectsCardReact from "./ProjectsCard.tsx";
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col justify-center items-center">
  <div class="typewriter mt-5 flex flex-row justify-center items-center">
    <div>
      <Icon name="mingcute:right-line" class="text-5xl text-pink-800" />
    </div>
    <div class="mr-14">
      <h1 class="text-3xl sm:text-white sm:text-5xl whitespace-nowrap">
        &#123;welcome&#125;
      </h1>
    </div>
  </div>
  <div class="mt-7 m-auto whitespace-break-spaces max-w-[90vw]">
    <span> - - - - - - - - - - - - - - - - - - - - - -</span>
  </div>
  <div
    class="items-end w-full mt-10 block whitespace-normal max-w-[90vw] leading-7"
  >
    <p class="text-left ml-5 block">
      My name is <span class="text-lime-600 font-bold">Jon Thomann</span>! I am
      a software developer and machine learning enthusiast!
    </p><p class="ml-5">
      I have a Bachelor's in Computer Science and Master's degree in Data
      Science from Lancaster University!<br /> If you want to know more about me
      head over to my <a class="text-pink-800" href="/aboutme">about me</a> page
      or view my <a href="/projects" class="text-pink-800">projects</a>.
    </p>
  </div>
  <div class="flex flex-row items-center max-w-screen justify-between mt-20">
    <ProjectsCardReact client:load transition:persist transition:slide>
      <Icon
        slot="pinkIcon"
        name="mingcute:right-line"
        class="text-pink-800 text-xl"
      />
      <Icon
        slot="greenIcon"
        name="mingcute:git-merge-line"
        class="text-lime-800 text-xl"
      />
    </ProjectsCardReact>
  </div>
</div>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Prevents text wrapping */
    letter-spacing: 0.15em; /* Adjust for spacing */
    margin: auto 0;
    animation: typing 1s steps(30, end);
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .typewriter h1 {
      animation:
        typing 1s steps(30, end),
        blink-caret 0.75s step-end infinite;
    }
  }
</style>
